* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #0D0D0D; 
    --secundaria: #1A1A1A; 
    --escuro: #121E2C; 
    --maisEscuro: #2B1B38; 
    --claro: #f9f9f9;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--primaria);
    color: var(--claro);
}

#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cabecalho {
    position: fixed;
    top: 0;
    background: var(--escuro);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--claro), var(--maisEscuro));
    transition: width 0.6s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.sobre {
    padding: 6rem 2rem;
}

.titulo_sobre {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.perfil-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}

.perfil {
    flex: 1;
    max-width: 300px;
    margin-right: 2rem;
}

.foto_perfil {
    width: 100%;
    height: auto;
    max-width: 200px; 
    max-height: 200px; 
    box-shadow: 0 0 10px rgba(162, 142, 243, 0.4);
    border-radius: 50%; 
    border: 4px solid var(--vidro);
    animation: flutar 5s ease-in-out infinite;
    margin-top: 100px; 
    margin-left: 35px; 
}

.descricao {
    margin-top: 1rem;
    color: var(--claro);
    font-size: 1rem;
    text-align: center;
}

.projetos {
    flex: 2;
    padding: 2rem;
}

.projetos_titulos {
    text-align: center;
    font-size: 2rem;
    margin-top: 35px;
}

.projetos_caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem; 
    max-width: 1200px;
    margin: 0 auto;
}

.projetos_card {
    background: rgba(53, 51, 51, 0.5);
    border-radius: 16px;  
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    box-shadow: 0 0 10px rgba(140, 133, 235, 0.4);   
    overflow: hidden;
    height: 380px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.7s ease;
    cursor: pointer;
    margin-top: 100px; 
    
}

.projetos_card:hover {
    box-shadow: 0 0 10px rgba(162, 142, 243, 0.5);
    transform: translateY(-15px) scale(1.2);
}

.projetos_imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info_projetos {
    margin-bottom: 6px;
}

.paragrafo_projetos {
    font-size: 0.8rem;
    color: var(--claro);
    margin-top: 0.5rem;
}

.paragrafo_perfil {
    font-size: 1rem;
    color: var(--claro);
    margin-top: 0.5rem;
    background: rgba(53, 51, 51, 0.5);
    border-radius: 20px;
    padding: 0.5rem;
}

.linguagens {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.linguagem {
    background-color: var(--vidro);
    color: var(--claro);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.linguagem:nth-child(1) {
    background-color: #4A1B38; 
}

.linguagem:nth-child(2) {
    background-color: #3A1B38; 
}

.linguagem:nth-child(3) {
    background-color: #4A1B38; 
}

.linguagem:nth-child(4) {
    background-color: #3A1B38; 
}

.linguagem:nth-child(5) {
    background-color: #4A1B38; 
}

.linguagem:nth-child(6) {
    background-color: #3A1B38; 
}

.linguagem:nth-child(7) {
    background-color: #4A1B38; 
}

.linguagem:nth-child(8) {
    background-color: #3A1B38; 
}

.linguagem:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.caixa_info {
    padding: 1rem;
    flex-grow: 1;
}

.link_projeto {
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 1rem;
    color: #5a96db;
}

.contatos {
    padding: 6rem 2rem;
    background: var(--escuro);
}

.contatos_titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
}

.formulario_contato {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(53, 51, 51, 0.5);
    box-shadow: 0 0 10px rgba(140, 133, 235, 0.4);
    padding: 2rem;
}

.grupo_form {
    margin-bottom: 1.5rem;
}

.campo_form {
    width: 100%;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--vidro);
    border-radius: 5px;
    color: var(--claro);
    outline: none;
}

.campo_form::placeholder {
    color: var(--claro);
}

.campo_form:focus {
    border: 1px solid var(--primaria);
    box-shadow: 0 0 10px rgba(80, 70, 229, 0.4);
}

.botao_form {
    color: #f9f9f9; 
    background: linear-gradient(90deg, var(--primaria), var(--maisEscuro));
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 3px 8px rgba(13, 13, 13, 0.4); 
    text-align: center;
}

.botao_form:hover {
    background: linear-gradient(90deg, var(--maisEscuro), var(--secundaria));
    box-shadow: 0 6px 15px rgba(43, 27, 56, 0.5); 
    transform: scale(1.02); 
}

@keyframes flutar {
    50% {
        transform: translateY(10px);
    }
}