* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #0D0D0D; 
    --secundaria: #1A1A1A; 
    --escuro: #121E2C; 
    --maisEscuro: #2B1B38; 
    --claro: #f9f9f9;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--primaria);
    color: var(--claro);
}

#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    position: fixed;
    top: 0;
    background: var(--escuro);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--claro), var(--maisEscuro));
    transition: width 0.6s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto_perfil{
    width: 100%;
    max-width: 350px;
    height: auto;
    box-shadow: 0 0 10px rgba(162, 142, 243, 0.4);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutar 5s ease-in-out infinite;
}

h1{
    font-size: 2.5rem;
    margin: 25px;
    color: var(--claro);
    font-weight: bold;
}
.subtitulo{
    font-size: 1rem;
    color : var(--claro);
}

.sobre{
    padding: 6rem 2rem;
}

.titulo_sobre{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.sobre_conteudo{
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(53, 51, 51, 0.5);
    box-shadow: 0 0 10pxrgba(162, 142, 243, 0.5);;
}

.sobre_paragrafo{
    text-align: center;
    font-size: 1.2rem;
}

.projetos{
    padding: 6rem 2rem;
}

.projetos_titulos{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
}

.projetos_card:hover{
    box-shadow: 0 0 10px rgba(162, 142, 243, 0.5);;
    transform: translateY(-15px ) scale(1.2);
}

.projetos_caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem; 
    max-width: 1200px;
    margin: 0 auto;
}

.projetos_card{
    background: rgba(53, 51, 51, 0.5);
    border-radius: 16px;  
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    box-shadow: 0 0 10px rgba(140, 133, 235, 0.4);   
    overflow: hidden;
    height: 380px; 
    display: flex;
    flex-direction: column;
    transition: all 0.7 ease;
    cursor: pointer;
}

.projetos_imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info_projetos{
    margin-bottom: 6px;
}

.paragrafo_projetos{
    font-size: 0.8rem;
    color: var(--claro);
    margin-top: 0.5rem;
}

.caixa_info{
    padding: 1rem;
}

.contatos{
    padding: 6rem 2rem;
    background: var(--escuro);
}

.contatos_titulo{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
}

.formulario_contato{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(86, 78, 90, 0.808);
    box-shadow: 0 0 10px rgba(140, 133, 235, 0.4);
    padding: 2rem;
}

.grupo_form{
    margin-bottom: 1.5rem;
}


.campo_form{
    width: 100%;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--vidro);
    border-radius: 5px;
    color: var(--claro);
    outline: none;
}

.campo_form::placeholder{
    color: var(--claro);
}

.campo_form:focus{
    border: 1px solid var(--primaria);
    box-shadow: 0 0 10px rgba(80, 70, 229, 0.4);
}

.botao_form{
    color: var(--claro);
    background: linear-gradient(90deg, var(--claro), var(--maisEscuro));
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.8s ease;
}

.botao_form:hover{
    background: linear-gradient(90deg, var(--maisEscuro), var(--claro));
    box-shadow: 0 5px 10px rgba(80, 70, 229, 0.4);
}

@keyframes flutar {
    
    50% {
        transform: translateY(-20px) rotate(-10deg);
    }
    80% {
        transform: translateY(20px) rotate(10deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}